# See https://help.github.com/ignore-files/ for more about ignoring files.

#configs
*.env

# dependencies
/node_modules

# Compiled Dirs (http://nodejs.org/api/addons.html)
build/
client/dist/bundle.js

# misc
.DS_Store
TODO

# Logs
*.log
